* {
font-family: 'Roboto', sans-serif;
 }

.footer {
  background: grey;
  opacity: 0.99;
  position: absolute; bottom: 0; left: 0; right: 0;
  display: block;
  text-align: right;
  height:20%;
  width:100%;
       }

body, .containerun, .containerdeux, .descun, .descdeux {
  margin: auto;
  text-align: center;
     }

body, head, footer {
  width:100%;
}

#container, .containerun, .containerdeux, .descun, .descdeux{
  display: inline-flex;

}



.image, .containerun, .containerdeux {

}

img {
  width:199px;
  height:148px;
}

p, a {
  color: #696969;
}

html {
  height: 100%;
  margin-bottom: 0px;
  padding: 0px;
}

#nom {
padding:5px;
}
.flexco {
  display: flex;
  flex-direction: column;
}
